<table class="table table-dark table-hover" *ngIf="tvShows.length > 0; else emptyState">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tvShow of tvShows" (click)="openModal(tvShow )">
            <td></td>
            <td>{{ tvShow.name }}</td>
            <td>
                <span *ngIf="tvShow.isFavourite" class="material-icons favourite-icon" (click)="tvShow.isFavourite = !tvShow.isFavourite" title="Remove from favourites">
                    star
                </span>
                <span *ngIf="!tvShow.isFavourite" class="material-icons no-favourite-icon" title="Add to favourites" (click)="tvShow.isFavourite = !tvShow.isFavourite">
                    star_border
                </span>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #emptyState>
    There's no results :(
</ng-template>