<table class="table table-dark table-hover" *ngIf="tvShows.length > 0; else emptyState">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Title</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tvShow of tvShows" (click)="openModal(tvShow )">
            <td>rekt</td>
            <td>{{ tvShow.name }}</td>
            <td>Otto</td>
        </tr>
    </tbody>
</table>

<ng-template #emptyState>
    Theres no results :(
</ng-template>